<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%include 'bootstrap/bootstrap.html'%}
    <title>Add Listing</title>
  </head>
    <body>
      {%include 'navbar.html'%}
      
      {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
      {% endif %}
      
      <div class="text text-dark mt-5 mb-5 ml-5">
      
        <h2>Add Listing</h2>

        <form method="POST" action="{% url 'add_item' %}" enctype="multipart/form-data">
            {%csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="Add Item">
        </form>
       
       </div>
    </body>

</html>
