<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%include 'bootstrap/bootstrap.html'%}
    <title>Listings</title>
  </head>
    <body>
      {%include 'navbar.html'%}
      <div class="text text-dark mt-5 ml-5">
        {%if not items%}
            There are currently no listings.
        {%else%}
            {%for item in items%}
                <section style="padding: 20px;">
                    <li><b>Seller: </b> {{item.seller.user.username}}</li>
                    <li><b>Name: {{item.name}}</b></li>
                        <li>description: {{item.description}}</li>
                        <li>Price: ${{item.price}}</li>
                        <li>Quantity: {{item.quantity}}</li>

                        {% if item.image %}
                        <img src="{{item.image.url}}" width="200px" height="200px">
                        {% endif %}
                </section>
            {%endfor%}
        {%endif%}
      </div>
    </body>
</html>
