<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>My Items</title>
    </head>
    
    <body>
        <h1>My Items</h1>
        {%if not items %}
            <h1>You have not posted any items!</h1>
        {% else %}
            {% for item in items %}
                <section style="padding: 20px;"> 
                    <li><b>Name: {{item.name}}</b></li>
                    <li>description: {{item.description}}</li>
                    <li>Price: ${{item.price}}</li>
                    <li>Quantity: {{item.quantity}}</li>
                    
                    {% if item.image %}
                    <img src="{{item.image.url}}" width="200px" height="200px">
                    {% endif %}

                </section>
            {% endfor %}
        {% endif %}
    </body>

</html>