<body>
    {%load static%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src={%static 'display_items.js'%}></script>


    <section id="listings" class="container">
            <div class="row">
                    {%for item in items%}
                        {%if item.quantity > 0%}
                            <div id="item-{{item.item_id}}"class="card" style="width:18rem; margin:10px;">
                                {% if item.image %}
                                    <img class="card-img-top" src="{{item.image.url}}" width="300px" height="200px">
                                {%else%}
                                    <img class="card-img-top" src="#" width="300px" height="200px">
                                {%endif%}
                                <div class="card-body">
                                    <h5 class="card-title">{{item.name}}</h5>

                                    <p class="card-text">
                                    <strong> {{item.seller.user.username}} </strong><br>
                                    {{item.description}}
                                    </p>
                                    <p> Stock: {{item.quantity}} </p>
                                    <p> Price: ${{item.price}}/unit </p> 
                                    {%autoescape on%}
                                    <input type="number" id="quantity" value="0" min="0" max="{{item.quantity}}">
                                    <button id="add-cart-button" class="btn btn-primary" onclick="addToCart('{{item.item_id}}', '{%url 'add_to_cart'%}', '{{page_type}}')">Add to Cart</button>
                                    <button class="btn" onclick=""> More </button>
                                    <button class="btn" onclick="window.location.href='{% url 'room' item.name %}';"> Chat </button>
                                    {% endautoescape %}
                                    </p>
                                </div>
                            </div>
                        {%endif%}
                    {%endfor%}
            </div>
    </section>

    <div id="alerts">
    </div>

    
</body>

