<nav class="navbar navbar-expand-sm navbar-inverse navbar-fixed-top navbar-light bg-light">

  <div class="navbar-header navbar-left">
    <a class="navbar-brand" href="#">
      FurniShare
      {% load static %}
      <img src="{% static 'css/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
  </div>

  <ul class="nav navbar-nav navbar-center">
    <li class="nav-item active"> <!--Home-->
      <a class="nav-link" href="{%url 'index'%}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item dropdown"> <!--My Listings-->
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        My Listings
      </a>
      <div class="dropdown-menu">
        {%if user.is_authenticated%}
        <a class="dropdown-item" href="{%url 'my_items'%}">Past Listings</a>
        <a class="dropdown-item" href="{%url 'add_item'%}">Add Listing</a>
        {%else%}
        <a class="dropdown-item disabled" href="{%url 'my_items'%}" aria-disabled="true">Past Listings</a>
        <a class="dropdown-item disabled" href="{%url 'add_item'%}" aria-disabled="true">Add Listing</a>
        {%endif%}
      </div>
      <!--Login/Logout-->
      {%if user.is_authenticated%}
      <li class="nav-item">
        <a class="nav-link" href="{%url 'logout'%}">Logout</a>
      </li>
      {%else%}
      <li class="nav-item">
        <a class="nav-link" href="{%url 'login'%}">Login</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{%url 'register'%}">Sign Up</a>
      </li>
      {%endif%}
    </ul>

    <form class="form-inline my-2 my-lg-0 navbar-right" action="{%url 'search'%}">
      <input class="form-control" type="text" n="q" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">
          <i class="fa fa-search"></i>
        </button>
    </form>

</nav>

<div id="alerts">
  {%if danger_alert%}
    <div class="alert alert-danger" role="alert">
      {{danger_alert}}
    </div>
  {%endif%}

  {%if success_alert%}
    <div class="alert alert-success" role="alert">
      {{success_alert}}
    </div>
  {%endif%}

</div>
