<nav class="navbar navbar-expand-xl navbar-fixed-top navbar-light bg-white pt-2 pl-2">

  <div class="navbar-header">
    <a class="navbar-brand" href="{%url 'index'%}">
        {% load static %}
        <img src="{% static '/css/logo.png' %}" width="260" height="45" class="d-inline-block align-top" alt="FurniShare">
    </a>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">

    <ul class="nav navbar-nav pt-3 px-3 ml-auto" id="navtext">
      <li class="nav-item active hovernav pr-1 mr-2"> <!--Home-->
        <a class="nav-link text-dark" href="{%url 'index'%}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav navbar-nav hovernav pr-1 mr-2">
        {%if user.is_authenticated%}
        <a class="nav-link text-dark" href="{%url 'chat_index'%}">Chat</a>
        {%else%}
        <a class="nav-link disabled text-muted" href="{%url 'chat_index'%}" aria-disabled="true">Chat</a>
        {%endif%}
      </li>
      <li class="nav-item dropdown hovernav pr-1 mr-5"> <!--My Listings-->
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbardrop" data-toggle="dropdown">
          My Listings
        </a>
        <div class="dropdown-menu">
          {%if user.is_authenticated%}
          <div class="hovernav">
            <a class="dropdown-item text-dark" href="{%url 'my_items'%}">Past Listings</a>
          </div>
          <div class="hovernav">
            <a class="dropdown-item text-dark" href="{%url 'add_item'%}">Add Listing</a>
          </div>
          {%else%}
          <div class="hovernav">
            <a class="dropdown-item disabled text-muted" href="{%url 'my_items'%}" aria-disabled="true">Past Listings</a>
          </div>
          <div class="hovernav">
            <a class="dropdown-item disabled text-muted" href="{%url 'add_item'%}" aria-disabled="true">Add Listing</a>
          </div>
          {%endif%}
        </div>
        </li>

        <!--Login/Logout-->
        {%if user.is_authenticated%}
        <li class="nav-item hovernav pr-1">
          <a class="nav-link text-dark" href="{%url 'logout'%}"><i class="fa fa-sign-in" aria-hidden="true"></i> Logout</a>
        </li>
        {%else%}
        <li class="nav-item hovernav pr-1">
          <a class="nav-link text-dark" href="{%url 'login'%}"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
        </li>
         <li class="nav-item hovernav pr-1">
          <a class="nav-link text-dark" href="{%url 'register'%}"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
        </li>
        {%endif%}
        </ul>

        <ul class="navbar-nav ml-auto pt-3 pl-3">
          <li class="nav-item">
            <form class="form-inline my-2 my-lg-0 pt-1" action="{%url 'search'%}">
              <i class="fa fa-search text-dark" aria-hidden="true"></i>
              <input class="form-control form-control-sm ml-2 w-20" type="text" placeholder="Search" aria-label="Search">
            </form>
          </li>
          <!--Cart-->
          <li class="nav-item hovernav pr-1">
            {%if user.is_authenicated%}
              <a class="nav-link text-dark" href="{%url 'cart'%}"><i class="fa fa-shopping-cart fa-lg text-dark" aria-hidden="true"></i></a>
            {%else%}
              <a class="nav-link disabled text-dark" href="{%url 'cart'%}"><i class="fa fa-shopping-cart fa-lg text-dark" aria-hidden="true"></i></a>
            {%endif%}
          </li>
        </ul>
        </div>

</nav>

<div id="alerts">
  {%if danger_alert%}
    <div class="alert alert-danger" role="alert">
      {{danger_alert}}
    </div>
  {%endif%}

  {%if success_alert%}
    <div class="alert alert-success" role="alert">
      {{success_alert}}
    </div>
  {%endif%}

</div>
