<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%include 'bootstrap/bootstrap.html'%}
    <title>Home</title>
  </head>
  <body>
      {%include 'navbar.html'%}

      <div class="text text-dark mt-5 ml-5">
        <h2 class="mb-3"> Listings </h2>
        {%if not items%}
            There are currently no listings available.
        {%else%}
            {%include 'display_items.html'%}
        {%endif%}
      </div>

      <script>
          // Don't display your own items on index
          let me = '{{user.username}}'
          console.log(me);
          $('.seller-'+me).each(function (element){
              $(this).parents('.card').hide();
          });

      </script>
  </body>
</html>
