<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        {%include 'bootstrap/bootstrap.html'%}
        {%include 'navbar.html'%}

        <center><h1> Listings </h1></center>
       

        {%if not items%}
            There are currently no listings.
        {%else%}
            {%include 'display_items.html'%}
        {%endif%}

        <script>
            // Don't display your own items on index
            let me = '{{user.username}}'
            console.log(me);
            $('.seller-'+me).each(function (element){
                $(this).parents('.card').hide();
            });
            
        </script>
    </body>
</html>