<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%include 'bootstrap/bootstrap.html'%}
    <title>Activate Account</title>
  </head>
<body>
    {%include 'navbar.html'%}
    <div class="text text-dark ml-5 mt-5">
      <p>An email has been sent for verification. Please follow the instructions to verify your account.</p>
    </div>
</body>
</html>
