<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%include 'bootstrap/bootstrap.html'%}
    <title>Password Reset Confirmation</title>
  </head>
  <body>
    {%include 'navbar.html'%}

    <div class="text text-dark mt-5 ml-5">
      {% if validlink %}
      <h2 class="mb-3">New Password</h2>
      <form method="post">
          {% csrf_token %}
          {{form.as_p}}
          <button type="submit">Change Password</button>
      </form>
      {%else%}
          The password reset link was invalid. Please request a new password reset.
      {%endif%}
    </div>

  </body>
</html>
