<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Confirmation</title>
</head>
<body>
    {%include 'bootstrap/bootstrap.html'%}
    {%include 'navbar.html'%}
    
    {% if validlink %}
        <h1>New Password</h1>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Change Password</button>
    </form>
    {%else%}
        The password reset link was invalid. Please request a new password reset.
    {%endif%}

</body>
</html>