<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%include 'bootstrap/bootstrap.html'%}
    <title>Cart</title>
  </head>
<body>
  {%include 'navbar.html'%}
  <div class="text text-dark mt-5 mb-5 ml-5">
    {%if order_failure%}
        <div class="alert alert-warning alert-dismissable fade show" role="alert">
            The order was not processed since one or more items in your cart is no longer in stock. Your cart has been updated.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {%elif not valid_cart%}
        <div class="alert alert-danger alert-dismissable fade show" role="alert">
            One or more items have been removed from your cart because there was not enough stock remaining.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {%endif%}

    <h2 class="mb-3"> My Cart </h2>
    {%if not items%}
        <p>Your cart is currently empty.</p>
    {%else%}
        {%include 'display_items.html'%}
        Total Price: ${{total_price}}
        <form action="{%url 'cart'%}" method="POST">
        {%csrf_token%}
        <label for="shipping_address">Shipping Address</label>
        <input type="text" id="shipping_address" name="shipping_address" required="required">
        <input type="submit" value="Checkout">
    </form>
    {%endif%}
  </div>
</body>
</html>
