<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
    {%include 'bootstrap/bootstrap.html'%}
    {%include 'navbar.html'%}
    <h1>
        My Cart
    </h1>
    {%if not items%}
        Your cart is empty.
    {%else%}
        {%include 'display_items.html'%}
    {%endif%}

    <form action="{%url 'cart'%}" method="post">
        {%csrf_token%}
        <label for="shipping_address">Shipping Address</label>
        <input type="text" id="shipping_address" name="shipping_address">
        <input type="submit" value="Checkout">
    </form>
</body>
</html>