<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        {%include 'bootstrap/bootstrap.html'%}
        {%include 'navbar.html'%}
        {%load static%}
        <script src={%static 'orders.js'%}></script>
        
        <h1> Purchased By You </h1>
        <a href="#my-purchases" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="my-purchases">
        Show/Hide All
        </a>
        <ul id="my-purchases" class="list-group collapse show">
            <script>
                displayOrders(JSON.parse('{{my_purchases | escapejs}}'), 'my-purchases')
            </script>
        </ul>
       
        <h1> Purchased From You </h1>
        <a href="#my-orders" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="my-orders">
        Show/Hide All
        </a>
        <ul id="my-orders" class="list-group collapse show">
            <script>
                displayOrders(JSON.parse('{{my_orders | escapejs}}'), 'my-orders')
            </script>
        </ul>


    </body>
</html>