.text {
  font-family: "Courier New", Courier, monospace;
}

.hovernav:hover {
  border: 1px solid black;
}

.form-inline: focus {
  border-color: black;
}

#signupsubmit:hover {
  border: 1px solid black;
  text-decoration: none;
}

#loginsubmit:hover {
  border: 1px solid black;
  text-decoration: none;
}
