.navbar li {
  padding-right: 30px;
}

#searchbar {
  margin-right: -100px;
}

.hovernav:hover {
  border: 1px solid black;
}

#navtext {
  font-family: "Courier New", Courier, monospace;
}

#loginsect {

}
